.typewriter-wrapper {
    color: var(--accent-2);
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 600;
}

.typewriter-cursor {
    color: var(--accent-2);
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 600;
}