@font-face {
    font-family: "montserrat-extra-bold";
    src: url("./fonts/Montserrat-ExtraBold.otf");
}

@font-face {
    font-family: "montserrat-semi-bold";
    src: url("./fonts/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: "open-sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "open-sans-semibold";
    src: url("./fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "open-sans-extra-bold";
    src: url("./fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "open-sans-italic";
    src: url("./fonts/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: "open-sans-light";
    src: url("./fonts/OpenSans-Light.ttf");
}

:root {
    /* Dark mode colors */

    /* sunset theme */
    /* --background-color: #141823;
    --background-alternate: #1b2132;
    --background-alternate-2: #212b44;
    --accent1: #583fd4;
    --accent2: #a33ea2;
    --accent3: #fc85ad;
    --accent4: #ffbc65;
    --accent5: #ffdc6b;
    --text-color: #ffffff; */

    /* strawberry theme */
    --background-color: #191a19;
    --background-alternate: #202320;
    --background-alternate-2: #262b26;
    --accent1: #246030;
    --accent2: #52b33f;
    --accent3: #ffbc65;
    --accent4: #ee5865;
    --accent5: #ee3151;
    --text-color: #ffffff;
    --text-alternate: #bbbbbb;

    /* transition: 0.1s ease-in-out; */
}

.light-theme {
    /* Light mode colors */

    /* sunset theme */
    /* --background-color: #f1f5ff;
    --background-alternate: #d7dff3;
    --background-alternate-2: #c2cce5;
    --accent1: #462fbb;
    --accent2: #c534c2;
    --accent3: #ed6693;
    --accent4: #f29e31;
    --accent5: #f8be00;
    --text-color: #000000; */

    /* strawberry theme */
    --background-color: #f8fff8;
    --background-alternate: #d9ebd9;
    --background-alternate-2: #c3dfc3;
    --accent1: #1d5628;
    --accent2: #48ab35;
    --accent3: #ffb555;
    --accent4: #ff7a85;
    --accent5: #ff4262;
    --text-color: #000000;
    --text-alternate: #222222;

    /* transition: 0.1s ease-in-out; */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h4 {
    color: var(--accent4);
}

h5 {
    color: var(--accent5);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid #fff;
    height: 7px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.container {
    /* width: 100%; */
    width: 1263px;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container header {
    width: 100%;
    height: 9vh;
    padding: 10px 60px;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
}

header .logo {
    font-size: 30px;
    font-weight: 600;
    width: 30%;
    margin-left: 50px;
    margin-top: 20px;
    font-family: montserrat-semi-bold;
}

.logo span {
    color: var(--accent3);
    font-size: 40px;
}

header nav {
    width: 70%;
    display: flex;
    margin-right: -180px;
    margin-top: 10px;
}

header nav ul {
    justify-content: center;
    width: 58%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: open-sans;
    text-decoration: none;
    font-size: 18px;
    max-width: 400px;
    padding: 10px 0px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text-color);
    justify-content: space-between;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    background-image: linear-gradient(var(--accent3), var(--accent3));
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        color 0.3s,
        background-size 0.3s,
        background-position 0s 0.3s;
}

nav ul li a:hover {
    color: var(--accent3);
    background-position: 100% 100%;
    background-size: 100% 2px;
}

nav ul li a.active {
    color: var(--accent3);
    background-position: 100% 100%;
    background-size: 100% 2px;
}

.container .main {
    width: 100%;
    height: 80vh;
    justify-content: center;
}

.main .main-one {
    margin-top: 20px;
    width: 45%;
    padding: 40px 30px;
    padding-left: 107px;
}

.main-one h1 {
    color: var(--accent1);
    font-family: montserrat-extra-bold;
    font-size: 70px;
    margin-top: -20px;
}

.main-one span {
    font-family: montserrat-semi-bold;
    font-weight: 600;
    font-size: 45px;
    color: var(--accent2);
}

.main-one p {
    font-family: open-sans;
    font-size: 17px;
    padding: 10px 0;
}

.main-one button {
    background-color: var(--accent5);
    outline: none;
    border: none;
    padding: 9px 12px;
    margin-top: 20px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 2px 2px 20px var(--accent4);
    font-weight: 600;
    border-radius: 50px;
    transition: all ease-out 0.2s;
}

.main-one button img {
    transform: translate(0%, 10%);
    height: 24px;
    width: 24px;
}

.main-one button:hover {
    transform: scale(1.04);
}

.inline-link {
    color: var(--accent4);
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.inline-link:hover {
    color: var(--accent5);
}

.main .main-two {
    width: 50%;
}

.main-two .circle-border {
    margin-left: 52px;
    margin-top: -210px;
    position: absolute;
    display: inline-block;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    width: 430px;
    height: 430px;
}

.circle-border img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.about {
    position: relative;
    width: 80%;
}

.about h1 {
    font-size: 50px;
    line-height: 49px;
    font-weight: 800;
    color: var(--accent1);
    font-family: montserrat-extra-bold;
    margin-left: 108px;
}

.about h1 span {
    color: var(--accent2);
}

.about .text {
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    margin-right: -110px;
}

.about p {
    font-size: 18px;
    font-family: open-sans;
    color: var(--text-color);
    width: 100%;
    text-align: justify;
    text-indent: 20px;
}

.projects {
    position: relative;
    width: 80%;
    height: 24%;
}

.portfolio-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projects h1 {
    font-size: 50px;
    line-height: 49px;
    font-weight: 800;
    color: var(--accent1);
    font-family: montserrat-extra-bold;
    margin-left: 108px;
}

.projects h1 span {
    color: var(--accent2);
}

.projects p {
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    padding-top: 10px;
    margin-left: 114px;
    font-family: open-sans;
}

.filter-div {
    float: left;
    color: var(--text-color);
    text-align: center;
    margin: 2px;
    display: none;
}

.show {
    display: flex;
}

.filter-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-button {
    background-color: var(--accent4);
    color: var(--text-color);
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
}

.filter-button:hover {
    background-color: var(--accent5);
}

.filter-button.active {
    background-color: var(--accent5);
}

.project-entry {
    width: 400px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
    height: 160px;
    padding: 24px;
    background-color: var(--background-alternate);
    border-radius: 8px;
    box-shadow: 2px 2px 20px var(--background-alternate);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.project-entry:hover {
    background-color: var(--background-alternate-2);
    cursor: pointer;
}

.project-entry header {
    color: var(--accent5);
    font-size: 20px;
    font-family: open-sans-semibold;
}

.project-entry h2 {
    color: var(--accent4);
    font-size: 14px;
    font-family: open-sans;
}

.project-entry p {
    margin-top: -4px;
    margin-left: 0px;
    text-align: left;
    width: 100%;
    color: var(--text-color);
    font-size: 13px;
    font-family: open-sans;
    height: 4em;
    text-align: justify;
}

.project-entry .tag {
    float: left;
    color: var(--text-color);
    background-color: var(--accent3);
    border-radius: 4px;
    padding: 4px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: open-sans;
    font-size: 12px;
}

.project-entry .tag .dot {
    height: 6px;
    width: 6px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: inline-block;
    top: 60%;
    transform: translateY(-20%);
}

.project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
    margin-right: 110px;
}

.post {
    position: relative;
    width: 80%;
}

.post h1 {
    font-size: 50px;
    line-height: 49px;
    font-weight: 800;
    color: var(--accent1);
    font-family: montserrat-extra-bold;
    margin-left: 108px;
}

.post h1 span {
    color: var(--accent2);
}

.post h2 {
    font-size: 16px;
    color: var(--text-alternate);
    font-family: open-sans-italic;
    margin-left: 108px;
    margin-top: -24px;
}

.post h3 {
    font-size: 14px;
    color: var(--text-color);
    font-family: open-sans-light;
    margin-left: 108px;
    margin-bottom: 50px;
}

.post .image-container {
    position: relative;
    display: flex;
    left: 0;
    right: 0;
}

.post img.back {
    position: relative;
    display: block;
    max-width: 70%;
    margin: auto;
    margin-bottom: 40px;
    border: none;
    border-radius: 8px;
    filter: blur(16px);
    z-index: 1;
}

.post img.front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 68%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 8px;
    z-index: 2;
}

.post .text {
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    margin-right: -110px;
}

.post p {
    font-size: 18px;
    font-family: open-sans;
    color: var(--text-color);
    width: 100%;
    text-align: justify;
    text-indent: 20px;
}

.contact {
    position: relative;
    width: 80%;
}

.contact h1 {
    font-size: 50px;
    line-height: 49px;
    font-weight: 800;
    color: var(--accent1);
    font-family: montserrat-extra-bold;
    margin-left: 108px;
}

.contact h1 span {
    color: var(--accent2);
}

.contact-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color)
}

.box {
    position: relative;
    width: 480px;
    height: 620px;
    background: var(--background-alternate);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 35px;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 620px;
    background: linear-gradient(0deg, transparent, var(--accent3), var(--accent3));
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation: animate 6s linear infinite;
    animation: animate 6s linear indefinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 620px;
    background: linear-gradient(0deg, transparent, var(--accent3), var(--accent3));
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-animation: animate 6s linear infinite;
    animation: animate 6s linear indefinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.contact-form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: var(--background-alternate-2);
    z-index: 10;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    color: var(--accent2);
    font-family: open-sans-extra-bold;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 30px;
    margin-bottom: -10px;
}

.input-box {
    position: relative;
    width: 400px;
    margin-top: 35px;
}

.textarea-box {
    position: relative;
    width: 400px;
    margin-top: 35px;
}

.input-box input {
    font-family: open-sans;
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.textarea-box textarea {
    resize: none;
    font-family: open-sans;
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.input-box span {
    margin-top: -50px;
    font-family: open-sans;
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: var(--accent4);
    pointer-events: none;
    letter-spacing: 0.05em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.textarea-box span {
    margin-top: -50px;
    font-family: open-sans;
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: var(--accent4);
    pointer-events: none;
    letter-spacing: 0.05em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
    color: var(--accent5);
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}

.textarea-box textarea:valid ~ span,
.textarea-box textarea:focus ~ span {
    color: var(--accent5);
    transform: translateX(-10px) translateY(-190px);
    font-size: 0.75em;
}

.input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--accent4);
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.textarea-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--accent4);
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.input-box input:valid ~ i,
.input-box input:focus ~ i {
    height: 44px;
}

.textarea-box textarea:valid ~ i,
.textarea-box textarea:focus ~ i {
    height: 200px;
}

input[type="submit"] {
    font-family: open-sans;
    border: none;
    outline: none;
    background: var(--accent5);
    padding: 11px 25px;
    width: 100px;
    margin-top: 30px;
    margin-left: 145px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
    letter-spacing: 0.1em;
}

input[type="submit"]:hover {
    opacity: 0.9;
}

input[type="submit"]:active {
    opacity: 0.7;
}

#theme-mode-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    float: left;
    margin-top: 0px;
    margin-right: 50px;
}