.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

.logo {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    margin-left: 25px;
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 25px;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: var(--text-color);
    transition: color 0.2s ease-in-out;
        background-image: linear-gradient(var(--accent-3), var(--accent-3));
        background-position: 0 100%;
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition:
            color 0.3s,
            background-size 0.3s,
            background-position 0s 0.3s;
}

.navigation-menu li a:hover {
    color: var(--accent-3);
    background-position: 100% 100%;
    background-size: 100% 2px;
}

.navigation-menu li a:active {
    color: var(--accent-3);
    background-position: 100% 100%;
    background-size: 100% 2px;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--background-alternate-1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: var(--background-alternate-2);
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navigation-menu ul {
        display: none;
    }
}

/* todo: mobile nav menu stylings */
@media screen and (max-width: 768px) {
    .navigation-menu ul {
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 77px);
        background-color: var(--text-color);
        display: none;
    }

    .navigation-menu.expanded ul {
        display: flex;
    }
    
    .navigation-menu li {
        text-align: center;
        color: var(--text-color);
        margin: 0;
    }

    .navigation-menu li a {
        color: var(--text-color);
        width: 100%;
        padding: 1.5rem 0;
    }
}